*
{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(214, 223, 206);
}
header .links{
    display: flex;
    justify-content: right;
    transition: 0.05s;
    margin: 5px;
}
header .links a{
    color: rgb(112, 14, 14);
    text-decoration: none;
    margin: 10px;
}
header .links a:hover{
    color: rgb(250, 250, 250);
    text-decoration: none;
    scale: 1.0;
    transition: 0.05s;
    border: 1px solid rgb(202, 152, 152);
    padding: 5px;
    background-color: rgb(34, 8, 65);
    border-radius: 8px;
}


body{
    font-family: 'Brother Signature', cursive;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/2301283/pexels-photo-2301283.jpeg');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(0px);
    transition: 0.5s;
    align-items: center;
    justify-content: center;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 500px;
    height: auto;
    margin-top: 10px;
    padding: 10px;
}
.content{
    text-align: center;
    color: rgb(218, 214, 214);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px rgb(112, 14, 14);
}
.make-up{
    text-align: center;
    color: rgb(141, 111, 111);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px rgb(112, 14, 14);
    background-color: rgb(142, 134, 153);
}
