*
{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(246, 247, 245);
}
.links{
    display: block;
    align-items: center;
    justify-content: left;
    transition: 0.05s;
    margin: 15px;
}
.links a:hover{
    color: rgb(250, 250, 250);
    text-decoration: underline;
    scale: 1.1;
    transition: 0.05s;
    border: 1px solid rgb(202, 152, 152);
    padding: 10px;
    background-color: rgb(34, 8, 65);
    border-radius: 10px;
    backdrop-filter: blur(15px);
}
.links a{
    color: rgb(112, 14, 14);
    text-decoration: none;
    margin: 0 10px;
}
body{
    font-family: 'Brother Signature', cursive;
    height: 100vh;
    background-color: rgb(171, 169, 184);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(0px);
    transition: 0.5s;
}

.container{
    text-align: center;
    color: rgb(15, 14, 14);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px rgb(112, 14, 14);
}
.container a{
    color: rgb(56, 42, 42);
    font-size: 20px;
    margin: 20px;
    backdrop-filter: blur(5px);
    font-family: 'naila-by-blue-studio09', sans-serif;
}
hr{
    border: 1px solid rgb(112, 14, 14);
    margin: 5px 0;
    text-align: center;
}
.content{
    text-align: center;
    display: block;
    
}
.content img{
    width: 300px;
    height: auto;
    margin: 10px 0;
    gap: 10px;
    margin: 10px;
    transition: 0.35s;
}
.content i{
    font-style: italic;
    color: rgb(112, 14, 14);
    backdrop-filter: blur(5px);
}

.content img:hover{
    color: rgb(56, 42, 42);
    scale: 1.1;
    transition: 0.55s;
    padding: 0px;
    border: 1px solid rgb(202, 152, 152);
    
}
.content .list i{
    color: rgb(51, 44, 63);
    font-weight: bold;
    font-size: 20px;
    border-radius: 7px;
}
